services:
  db:
    image: postgres:16
    container_name: solarwatch-db
    environment:
      POSTGRES_DB: solarwatchdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    networks:
      - webnet

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: solarwatch-api
    ports:
      - "8080:8080"
    env_file:
      - ./backend/src/.env
    depends_on:
      - db
    networks:
      - webnet

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: solarwatch-frontend
    ports:
      - "3000:80"
    depends_on:
      - api
    networks:
      - webnet

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./frontend/dist:/usr/share/nginx/html
    depends_on:
      - frontend
      - api
    networks:
      - webnet

networks:
  webnet:
    driver: bridge